html{
    background-color: rgb(250, 148, 148);
}

.page-heading{
    margin: 0 auto;
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: white;
    max-width: 400px;
    text-align: center;
    font-size: 50px;
}

.secondary-heading{
    margin: 0 auto;
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: white;
    max-width: 150px;
    text-align: center;
    font-size: 23px;
}

.text{
    font-size: 18px;
    margin: 18px;
}


.recipe-image{
    height: 500px;
    width: auto;
}

.recipe-link{
    font-size: 30px;
    font-weight: bold;
}

ul, ol{
    display: inline-block;
    text-align: left;
    list-style-position: inside;
}

.image-container{
    display: block;
    text-align: center;
}

#main-link-list{
    text-align: left;
}

#main-link-list-container{
    text-align: center;
    margin: 18px;
}